.section-promo, .section-news {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;

}

.section-promo, .section-news {
  width: 75vw;
  height: 50vh;
  color: rgb(111,111,111);
  padding: 2%;
}

a {
  text-decoration: none;
}